* {
  box-sizing: border-box;
}
.container {
  overflow: hidden;
  animation: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: relative;
}
.nav-pills .nav-link {
  color: #3f3a64;
}
.nav-pills .nav-link.active {
  background-image: linear-gradient(
    -90deg,
    rgba(166, 165, 190, 1) 0%,
    rgba(62, 86, 91, 1) 100%
  );
  font-size: 18px;
  color: black;
  animation: wobble;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.info {
  box-shadow: -10px -10px 20px -10px hsla(246, 9%, 55%, 0.79);
}
.btn {
  background-image: linear-gradient(
    -90deg,
    rgb(70, 69, 86) 0%,
    rgb(88, 119, 125) 100%
  );
}
.btn:hover {
  color: white;
  transition: all 0.3s;
  transform: scale(1.1);
}
.form-control:focus {
  box-shadow: 0 0 0.5px 2px rgba(16, 214, 224, 0.83);
}
.title {
  color: #3f3a64;
  text-align: left;
  animation: shakeY;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.collapse-toggle span {
  cursor: pointer;
}
